/* Empty. Add your own CSS if you like */

.platform-android .action-sheet-cancel {
  display: block !important;
}

.header {
  background-color: black;
}

.title {
  color: white;
}

.button {
  color: grey;
}

.ion-trash-b {
  color: red;
}

.pac-container {
  font-family: Roboto;
}

#autocomplete_field {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 5px 0 5px;
  text-overflow: ellipsis;
  width: 90%;
  margin-bottom: 0;
  line-height: 15px;
  font-weight: bold;
  margin-left: 5%;
}

#autocomplete_field:focus {
  border-color: #4d90fe;
}
